body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a:link {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
a {
  display: block;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo .logo-black {
  color: #2e2f42;
}
.navi-element {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.navi-element:hover {
  color: #404bbf;
}
.navi-element:focus {
  color: #404bbf;
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contacts a {
  color: #434455;
}
.contact:hover {
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}
.header .container {
  display: flex;
}
.navi {
  display: flex;
  align-items: center;
}
.navi-elements {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}
.contacts-elements {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

/* section-one */
.section-one {
  background-color: #2e2f42;
  height: 600px;
  padding: 188px 0;
}
.titel-section-one {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  width: 496px;
  margin-right: auto;
  margin-left: auto;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: #4d5ae5;
  cursor: pointer;
  margin-top: 48px;
  display: block;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* section-two */
.section-two {
  padding: 120px 0;
}
.item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-fetures {
  display: flex;
  gap: 24px;
}
.section-title-two {
  display: none;
}

/* section-three */
.section-three {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-member {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-list .team-member {
  width: calc((100 - 72) / 4);
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-bottom: 72px;
}
.info-member {
  padding: 32px 0;
  text-align: center;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

/*section-four*/
.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-bottom: 72px;
}
.portfolio-item-info {
  padding: 32px 0 32px 16px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  border: 1px solid #e7e9fc;
  width: 360px;
}

/* footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px 156px;
}
.logo .logo-white {
  color: #f4f4fd;
}
.footer-p {
  color: #f4f4fd;
  margin-top: 16px;
}
