body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a:link {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* header */
.logo-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-blue .logo-black {
  color: #2e2f42;
}
.logo-blue .logo-white {
  color: #f4f4fd;
}
.navi-element {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navi-element:hover,
.navi-element:active {
  color: #404bbf;
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contacts a {
  color: #434455;
}
.contact:hover,
.contact:focus {
  color: #4d5ae5;
}

/* section-one */
.section-one {
  background-color: #2e2f42;
}
.titel-section-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: #4d5ae5;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* section-three */
.team {
  background-color: #f4f4fd;
  text-align: center;
}

/* footer */
.footer {
  background-color: #2e2f42;
}
.footer p {
  color: #f4f4fd;
}
